@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f5f6;
  --foreground: #171717;
  --primary: #0985f7;
  --secondary: #939393;
  --font-gilroy-regular: 'Gilroy', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-gilroy-regular);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}